@import '../../../styles/variables';

.sign-in-form {
  margin: auto;
  padding: 1em;
  background-color: $background-color-transparent;
  border: 3px solid black;
  border-radius: 1em;
  .forgotPasswordBtn {
    background:none;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
  }
  .forgotPasswordBtn:hover {
    color: blue;
    text-decoration: underline;
  }
}